<nav class="utility-bar">
  <a href="/index.html" class="utility-icon" title="Home"><img src="/images/icon.png" alt="Home" /></a>
  <a href="/games/index.html" class="utility-icon" title="Games"><img src="/images/games.png" alt="Games" /></a>
  <a href="/apps/index.html" class="utility-icon" title="Apps"><img src="/images/apps.png" alt="Apps" /></a>
  <a href="/settings/index.html" class="utility-icon" title="Settings"><img src="/images/settings.png" alt="Settings" /></a>
  <a href="/tools/index.html" class="utility-icon" title="Tools"><img src="/images/tools.png" alt="Tools" /></a>
</nav>
